<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
</head>
<body>
<h1>Map of Bangladesh</h1>
<p>We use Google Maps api to geocode the locations.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1868713.9896348186!2d89.34535799665484!3d23.82457196817577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30adaaed80e18ba7%3A0xf2d28e0c4e1fc6b!2sBangladesh!5e0!3m2!1sen!2sca!4v1653630812425!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>

</html>